<!--<div class="md-toolbar-tools">
  <md-button class="md-icon-button" md-ripple-size="full" aria-label="Home" ui-sref="HOME">
    <md-icon md-svg-icon="images/materialdesignicons/svg/home.svg"></md-icon>
  </md-button>

  <span flex></span>
  <md-button class="md-button" aria-label="Cart" ui-sref='CART_ITEMS'>
    <md-icon md-svg-icon="images/materialdesignicons/svg/cart.svg"></md-icon>
    <md-badge ng-class="md-warn">99</md-badge>
  </md-button>
  <md-button class="md-icon-button" md-ripple-size="full" aria-label="Help">
    <md-icon md-svg-icon="images/materialdesignicons/svg/help-circle-outline.svg"></md-icon>
  </md-button>

  <md-menu md-position-mode="target-right target">
    <md-button aria-label="Open power interactions menu" class="md-icon-button" md-ripple-size="full" ng-click="openMenu($mdOpenMenu, $event)">
      <md-icon md-svg-icon="images/materialdesignicons/svg/power-settings.svg"></md-icon>
    </md-button>
    <md-menu-content width="3">
      <md-menu-item>
        <md-button>
          <md-icon md-svg-icon="images/materialdesignicons/svg/account.svg" md-menu-align-target></md-icon>
          {{globals.currentUser.username}}
        </md-button>
      </md-menu-item>
      <md-menu-item ui-sref='USER_CHANGEPASSWORD'>
        <md-button>
          <md-icon md-svg-icon="images/materialdesignicons/svg/account.svg" md-menu-align-target></md-icon>
          Change Password
        </md-button>
      </md-menu-item>
      <md-menu-item ng-click="vm.logoff(globals.currentUser.username)">
        <md-button>
          <md-icon md-svg-icon="images/materialdesignicons/svg/power.svg"></md-icon>
          {{'LOGOUT' | translate}}
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>-->
